.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 5rem;
  padding: 3.5vh;
}

#props-image {
  height: 15rem;
  object-fit: contain;
}

#page {
  display: flex;
  flex-flow:row;
  /* justify-content: space-evenly; */
}

/* .sidebar {

  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */


/* .sidebar {
  border-radius: 800px; 
  padding: 20px 5px;
} */

.nav-filter {
  flex-direction: column!important;
}

.navbar {
  flex-direction: column!important;
}

.cat-header {
  font-size:larger;
  font-weight: bold;
}

.category {
  padding: 3vh;
  display:flex;
  flex-direction: column;
}

.fav-list {
  padding: 3vh;
}
.fav-total {
  padding: 1vh;
}

.fav-item {
  padding: 0.5vh;
}

.fav-button {
  padding: 0.5vh;
}

.consum-button {
  padding: 0.5vh;

}

.title-header {
  padding-top: 5vh;
}